.box{
    background-color: rebeccapurple;
    margin: 200px;
    height: 200px;
    width: 190px;
    transition: 3s;
    }

/* .box:hover{
    background-color: yellow;

} */


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

.box {
  animation: move 2s infinite;
}


