.box{
    background-color: rebeccapurple;
    margin: 200px;
    height: 200px;
    width: 190px;
    transition: 3s;
    }

@keyframes colorChange {
    0% {background: red;}
    50%{background: yellow;}
    100%{background: green;}
}

.box {
    animation: colorChange 3s infinite;
}



